@charset "UFT-8";
 
body{
    background-color: black;
    background-image: url(paisagem.jpeg);
    background-position: left center;
}

h1{
    display: none;
}

h2::after{
    content: "paisagem ❤";
}